@implements IAsyncDisposable

<div class="flex flex-col gap-2 p-2 h-96 bg-lithium-50 border border-white/5 rounded-lg">
    <div class="shrink-0 mb-2 flex justify-between items-center">
        <p class="text-xs text-white/40">Status: @_connectionStatus</p>
    </div>
    <ul class="w-full h-full overflow-y-auto">
        @foreach (var (timestamp, level, message) in _logs.TakeLast(100))
        {
            var logLevel = (LogLevel)level;
            var logLevelColor = logLevel.ToColor();

            <li class="group flex items-center w-full text-white cursor-pointer">
                <p class="flex justify-between items-center pl-2 w-full h-full">
                    <span>[<span class="text-sm">@timestamp.ToString("T")</span>
                        <span class="text-sm" style="color: @(logLevel.ToColor());">@logLevel.ToShortName()</span>] <span>@message.ToFormattedMarkup()</span>
                    </span>
                </p>
            </li>
        }
    </ul>
    <div class="w-full h-12 flex items-center">
        <div class="w-full h-full flex items-center px-2 text-white text-sm bg-lithium-100 rounded-md">
            <input class="outline-none" type="text" placeholder="Type text..">
        </div>
    </div>
</div>